*.aux
*.fls
*.log
*.bcf 
#add pdfs folder
# add pdfs folder
pdfs/


*.gz
*.log
*.synvtez.gz
*.gz
*.aux
*.fdb_latexmk
*.pdf
# add .pdf and and make sure to get files with spaces in their names
*.pdf
*.pdf
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
.bak 
.mtc
build/